body {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #F4F5F8;
  font-family: 'Poppins', sans-serif;
  color: #1E1E1E;
  height: 100vh;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  flex-direction: column;
  background-color: #F4F5F8;

}

.border {
  border: 0.1px solid #e4e4e463;
}

.sec1 {
  display: flex;
  border-radius: 10px;
}

.sec1 .part1 {
  width: 100%;

}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-weight: 200;

}

.sec1 .part1 .boxes {
  display: flex;
  height: 300px;


  justify-content: space-between;
}

.box {
  width: 100%;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;

  justify-content: center;

}

.p-dropdown-label {
  font-size: 14px;
  font-weight: 600;
  color: #1E1E1E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  height: 40px;
 


}


.sec1 .titles {

  font-size: 17px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.sec1 .part2 {
  width: 30%;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec2 {


  overflow: auto;
}

.sec2 .part1 {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}



.card {
  overflow: hidden;

}

.app {
  margin: 10px 0 0 0;
  overflow-y: auto;
}

.popup {
  display: flex;
  justify-content: space-between;

}
.p-dropdown-trigger{
  padding-right: 10px;
}
.popup .drop{
  margin-right: 20px;
}

.headerProfile {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerInfo {
  border-radius: 20px;
  background-color: #ffffff;
  height: 100vh;
  margin: 40px 30px 30px 30px;
  padding: 10px 30px 30px 30px;
  overflow-y: auto;
}

.group {
  display: flex;
  margin-bottom: 30px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 20px 30px 10px;

}

.textBox {
  width: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  /* Adjust the gap value as needed */
}